*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
button {
  background: transparent;   /* or your bg color */
  border: none;
  outline: none;
  box-shadow: none;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
body{
    background-color: #000;
}

/* hero section */
.hero{
    background-image:linear-gradient(
        rgba(0,0,0,0.6) 0%,
        rgba(0,0,0,0.7) 50%,
         rgba(0,0,0,0.9) 100%
    ), url("img/hero-bg.jpg");
    background-size: cover;
    width: 100%;
    min-height: 100vh;
}
.hero-header{
    height: 120px;
    padding: 0px 8%;
}
.hero-header header{
    height: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo{
    background-image: url("img/Netflix_Logo_.png");
   background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
   width: 160px;
  height: 45px;

}
.header-tools{
    display: flex;
    justify-content: right;
    align-items: center;
    color:white;
    width:100%;
}
.header-lang{
    border:0.1px solid #aaa;
    border-radius: 0.3rem;
    padding: 0.4rem 0.85rem;
    margin: 0.25rem;
    min-width: fit-content;
}
.header-lang:focus-within{
     padding: 0.45rem 0.855rem;
    border:0.2px solid white;
    border-radius: 0.3rem;
}
.header-lang select{
    border: none;
    background-color: transparent;
    color: white;
    outline: none;
 box-shadow: none;
    font-size: 1.01rem;

}
.header-lang select option{
    color:black ;
}
.header-tools button{
    min-width:fit-content;
    padding:0.5rem 1rem;
     margin: 0.25rem;
    max-height: fit-content;
    border-radius: 0.3rem;
    color:white;
    background-color: rgb(229,9,20);
      font-size: 1.001rem;
      font-weight: 550;
      box-shadow: none;
      outline: none;
}
.header-tools button:hover{
    background-color: #c11119;
}

.hero-main{
    height: 564px;
     width:100%;
     display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero-body{
    height: 496px;
     width:100%;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0rem 2rem 2rem 2rem;
}
.hero-body h1{
       max-width: 700px;
    text-align: center;
    font-weight:900;
    font-size: 4rem;
    margin-bottom: 0.85rem;
}
@media (max-width:1600px){
    .hero-body h1{
         font-size: 3rem;
          width:50%;
    }
}
.hero-body p{
    max-width: 40%;
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}
.hero-body h3{
    max-width: 45%;

    font-weight: 200;
    text-align: center;
    margin-top: 1rem;
}
.hero-body-input{
    width: 40%;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
      color: #fff;
      margin-top:0.85rem;
}
.hero-body-input-box{
  
    background-color: #99999910;
    width: 80%;
    outline: none;
    border:1px solid #aaa;
    border-radius: 0.4rem;
    padding:1.5rem 1rem;
    margin: 0.85rem 0.5rem;
}
.hero-body-input-box::placeholder {
    color: #ccc;
    font-size: 1.1rem;
}
.hero-body-input button{
    width: 50%;
    background-color:rgb(229,9,20) ;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
     color: #fff;
    font-size:1.7rem;
     border-radius: 0.4rem;
      margin: 0.85rem 0rem;
}
.hero-margin{
    border-width:0.4rem 0rem 0rem 0rem;
    border-style:groove;
    border-color: #da1129;
    border-top-left-radius: 150%;
     border-top-right-radius: 150%;
    width: 100%;
    height: 100px;
   /* background-color: #000;
   display: flex;
   justify-content: center; */
    background-image:
    linear-gradient(
        to right,
        #000 0%,
        /* #000 25%, */
          #2038629c 45%,
         #03296c 50%,
           #2038629c 65%,
        #000 100%
    ) , linear-gradient(
        to bottom,
        #30466b9c,
        #000 90%
    );
    background-blend-mode: overlay;
    margin-top: 5rem;
    /*   border-image: linear-gradient(
        to right,
        #000000,
     #e75f93,
        #da1129,
        #e75f93,
        #000000
    ) 1; */
}


/* body */